/apps/app/.next/
/apps/app/src/**/*.docx
/apps/api/composer.lock
/apps/api/openapi.json
/apps/api/symfony.lock
/apps/docs/public/mockServiceWorker.js
/apps/docs/storybook-static/
**/.dockerignore
/pnpm-lock.yaml
/.vscode/i18n-ally-reviews.yml
/packages/ui/src/animations/**/*.json
